.card-picture {
    width: 404px;
    margin-bottom: 24px;
}

.card-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.card-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #616060;
}

.card-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}