.favorite {
    padding-bottom: 103px;
}


.favorite-content {
    display: flex;
    justify-content: center;
    gap: 32px;

}

.favorite-block {
    display: flex;
}

.favorite-picture-big {
    border-radius: 8px;
    width: 735px;
    height: 642px;
    margin-bottom: 24px;
}

.favorite-card-small {
    display: flex;
    flex-direction: column;
    gap: 32px; 
}

.favorite-picture-small {
    border-radius: 8px;
    width: 515px;
    height: 242px;
    margin-bottom: 24px;
}