
.last-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.last-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 624px;
}

.last-title {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.02em;
}
.last-subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #828282;
}
.last-desc {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}
.last-picture {
    border-radius: 8px;
    width: 508px;
}